<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bums</title>
  <link rel="shortcut icon" href="../assets/img/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel="stylesheet" href="../style/bootstrap.css">
</head>
<body style="background-image: url('../assets/img/background.webp'); background-size: cover; background-position: center; background-repeat: no-repeat; height: 100vh;" class="container-fluid m-0 p-4">
  <header class="container-fluid p-0 position-fixed d-none d-md-block">
    <div class="col-6 d-flex align-items-center">
      <img class="col-3 col-sm-2 col-md-1 col-lg-1 col-xl-1 col-xxl-1 img-fluid" src="../assets/img/logo.webp" alt="">
      <p class="fw-bold fs-3 ms-2 m-0 secondaryColor">Bums</p>
    </div>
  </header>
  <main class="container-fluid d-flex flex-column gap-2 justify-content-center align-items-center h-100 p-0">
    <div class="col-12 col-sm-9 col-md-6 col-lg-4 col-xl-4 col-xxl-3 rounded-3 bg-light rounded-4 p-3">
      <p class="m-0 fw-bold fs-4 secondaryColor text-center">User Login</p>
      <p class="m-0 fw-medium fs-6 my-3 secondaryColor text-center">Hey, enter your details to get sign in to your account</p>
      <form action="">
        <ul class="p-0">
          <li class="list-unstyled">
            <input class="col-12 bg-transparent rounded-1 px-2 py-1 border border-1 border-secondary-subtle" type="text" placeholder="Enter Email">
          </li>
          <li class="list-unstyled mt-4">
            <div class="d-flex align-items-center rounded-1 px-2 py-1 border border-1 border-secondary-subtle">
              <input class="col-11 bg-transparent border-0" type="password" placeholder="Password">
              <i style="cursor: pointer;" class="col-1 bi bi-eye-slash-fill"></i>
            </div>
          </li>
          <li class="list-unstyled my-4 d-flex flex-row justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <input style="width: 15px; height: 15px;" type="checkbox">
              <label for="" class="ms-2">Remember me</label>
            </div>
            <a class="text-decoration-none text-primary" href="">Forgot password?</a>
          </li>
          <li class="list-unstyled">
            <a href="../index.html" style="background-color: #64C4ED;" class="col-12 btn btn-primary rounded-2 border-0 fw-bold">Sign in</a>
          </li>
          <li class="list-unstyled d-flex justify-content-between align-items-center my-3">
            <div class="col-3 border border-1 border-secondary rounded-5" style="height: 1px; background: #000;"></div>
            <p class="col-4 m-0 text-center text-secondary fw-medium">Or login with</p>
            <div class="col-3 border border-1 border-secondary rounded-5" style="height: 1px; background: #000;"></div>
          </li>
          <li class="list-unstyled d-flex justify-content-center gap-3">
            <a style="font-size: 15px;" class="col-5 gap-2 d-flex justify-content-center align-items-center text-decoration-none text-dark fw-semibold p-2 border border-2 border-secondary-subtle rounded-2" href="">
              <img class="col-3 img-fluid" src="../assets/img/google.png" alt="">
              Google
            </a>
            <a style="font-size: 15px;" class="col-5 gap-2 d-flex justify-content-center align-items-center text-decoration-none text-dark fw-semibold p-2 border border-2 border-secondary-subtle rounded-2" href="">
              <img class="col-3 img-fluid" src="../assets/img/facebook.png" alt="">
              Facebook
            </a>
          </li>
          <li class="list-unstyled text-center mt-3">
            <p class="m-0">Don't have an account? <a href="register.html" class="text-decoration-none text-dark fw-semibold">Register</a></p>
          </li>
        </ul>
      </form>
    </div>
    <div class="text-light d-flex gap-2 justify-content-center">
      <p>Frogtel 2023</p>
      <p>|</p>
      <p>Web Design INVENTION</p>
    </div>
  </main>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</body>
</html>